Flask==2.3.2  
# Flask-Dance==6.2.0  # Removed Flask-Dance
Flask-SQLAlchemy==3.1.1  
Flask-Migrate==4.0.5  
Flask-Cors==4.0.0  
Flask-JWT-Extended==4.6.0  
python-dotenv==1.0.1  
PyJWT==2.8.0  
psycopg2-binary==2.9.9  
requests==2.31.0  
oauthlib==3.2.2
kafka-python-ng==2.1.0 # Added for Kafka integration
boto3>=1.20.0 # Added as dependency for kafka-python-ng's MSK SASL
watchtower>=2.0.0 # For CloudWatch Logs integration
python-json-logger>=2.0.0 # For structured JSON logging
botocore>=1.29.0 # AWS SDK core